<ion-tabs>
  <ion-tab-bar slot="bottom" style="--background: #212c37; --border: none; border-top: 1px solid #323f4d; height: 65px;">
    
    <ion-tab-button tab="inicio" href="/tabs/inicio" style="--color: #a0aec0; --color-selected: #ffffff;">
      <ion-icon name="home"></ion-icon>
      <ion-label style="font-size: 0.75rem;">Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="menu" href="/tabs/menu" style="--color: #a0aec0; --color-selected: #ffffff;">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label style="font-size: 0.75rem;">Menú</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="carrito" href="/tabs/carrito" style="--color: #a0aec0; --color-selected: #ffffff;">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label style="font-size: 0.75rem;">Carrito</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pedidos" href="/tabs/pedidos" style="--color: #a0aec0; --color-selected: #ffffff;">
      <ion-icon name="square-outline"></ion-icon>
      <ion-label style="font-size: 0.75rem;">Pedidos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" href="/tabs/perfil" style="--color: #a0aec0; --color-selected: #ffffff;">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label style="font-size: 0.75rem;">Perfil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>