<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Carrito de Compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="4">
            <ion-text color="medium">Producto</ion-text>
          </ion-col>
          <ion-col size="4" class="ion-text-center">
            <ion-button fill="clear" size="small" (click)="decrementarItem()">
              <ion-icon name="remove-outline"></ion-icon>
            </ion-button>
            <span style="margin: 0 8px; font-weight: bold;">{{ cantidad }}</span>
            <ion-button fill="clear" size="small" (click)="incrementarItem()">
              <ion-icon name="add-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="4" class="ion-text-end">
            <ion-text color="primary" style="font-weight: bold;">
              ${{ calcularTotal() }}
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer class="ion-padding">
  <ion-button expand="block" (click)="irACheckout()">
    Proceder al Pago
  </ion-button>
</ion-footer>